/BuildManager.class
/CombatManager.class
/ConstructionManager.class
/GameManager.class
/InformationManager.class
/MapGrid$GridCell.class
/MapGrid.class
/ScoutManager$ScoutStatus.class
/ScoutManager.class
/StrategyManager$GameRecord.class
/StrategyManager.class
/UXManager.class
/WorkerManager.class
